@charset "utf-8";

html {
  body {
    
    button,input[type="submit"],.userAct {
      display: inline-block;
      font-size: 1em;
      font-weight: bold;
      padding: 5pt 10pt;
      color: #fff;
      background-color: #823;
      border: 2px solid #500;
      border-color: #834 #723 #500 #612;
      
      &:hover {
        background-color: #283;
        border-color: #283 #172 #495 #384;
      }
    }
  }
  
}
